.layer {
  overflow: hidden;
  width: 120vw;
  height: 120vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .layer {
    width: 100vw;
    height: 100vh;
  }
}
